$color-white: #ffffff;
$color-default: #efefef;
$color-primary: #26a69a;
$color-success: #8bbf61;
$color-warning: #8bbf61;
$color-inverse: #424242;
$color-danger: #bd362f;

$font-primary: 'Quicksand', sans-serif;
$font-basic: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
