@import '../../scss/editors-mixins';
$editor-head: 40px;

.sidenav-open {
  @include fixed-left-sidenav-toggle;
}

.scss-editor {
  position: relative;
  padding: 10px;
  height: 100%;

  .head {
    position: relative;
    height: $editor-head;
    margin-bottom: -$editor-head;
    width: 100%;
    border-bottom: 1px solid #666;

    h3 {
      margin: 0;
      text-align: center;
    }

    .sidenav-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0 0 3px 0;
      height: 25px;
      line-height: 23px;
      min-width: 23px;

      mat-icon {
        font-size: 14px;
        height: 14px;
        width: 14px;
      }
    }
  }

  .content {
    padding-top: $editor-head;
    height: 100%;
    width: 450px;
  }

  textarea {
    width: 400px;
    min-height: 200px;
    //height: 90vh;
    max-width: 100%;
    resize: none;
  }
}
