<link *ngFor="let url of stylesUrl" rel="stylesheet" [href]="url">
<div [innerHTML]="compiledStyles"></div>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    [opened]="true"
    [fixedInViewport]="true">
    <!-- Available new elements -->
    <div class="scss-editor">
      <div class="head">
        <h3>Sass Editor</h3>
      </div>
      <div class="content">
        <pre *ngIf="scssError">{{scssError}}</pre>
        <code-editor [(code)]="editorModel" (codeChange)="onModelChange()"></code-editor>
      </div>
      <!--      <textarea [(ngModel)]="textareaModel" (ngModelChange)="onModelChange()"></textarea>-->
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <div [id]="editorHtmlId">
      <div [innerHTML]="layers?.contentHtml" [style]="editableStyles.main"></div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
