@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

/*
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
*/

& {
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.page-layout > .content {
  margin: auto;
  padding: 10px 15px;
  max-width: 800px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

pre, code {
  background: rgba(0, 0, 0, .03);
}

pre {
  padding: 5px 10px
}

code {
  padding: 1px 5px
}
