@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables/manage-variables.scss';
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');

/*
@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
*/

& {
  font-family: $font-primary;
}

//img {
//  max-width: 100%;
//}

header nav {
  margin: auto;
  max-width: 1000px;
}

footer {
  min-height: 50px;
  padding-top: 10px;
  background-color: $color-inverse;
  color: $color-white;
}

.page-layout {
  //min-height: 100%;
  min-height: calc(100vh - 107px);
  background-color: $color-default;
}

.container {
  position: relative;
  margin: auto;
  padding: 10px 15px;
  max-width: 800px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

pre, code {
  background: rgba(0, 0, 0, .03);
}

pre {
  padding: 5px 10px
}

code {
  padding: 1px 5px
}
