.layout-padding {

  padding: 8px;
}

.layout-padding > * {

  margin: 8px;
}

.scrollable {

  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  overflow-y: auto;
}

[draggable=true] {

  cursor: pointer;
}

[draggable].dndDraggableDisabled {

  cursor: not-allowed;
  opacity: .7;
}

[dndHandle] {

  display: inline-block;
  padding: 4px;
  border: 1px solid darkgray;
  border-radius: 50%;
}

[ng-reflect-dnd-dropzone],
[dndDropzone] {
  border: 1px red solid;
  //min-width: 200px;
  //min-height: 200px;
  min-height: 20px;
}

[ng-reflect-dnd-dropzone].dndDropzoneDisabled,
[dndDropzone].dndDropzoneDisabled {

  cursor: no-drop;
  opacity: .7;
  border-color: gray;
}

[ng-reflect-dnd-dropzone].dndDragover,
[dndDropzone].dndDragover {

  border-color: green;
}
