<div class="manage-module">
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" [mode]="'over'">
      <!-- MENU -->
      <nav class="left-nav">
        <mat-list>
          <mat-list-item>
            <a mat-button routerLink="/manage/dashboard">Dashboard</a>
          </mat-list-item>
          <!--        <mat-list-item>-->
          <!--          <a mat-button routerLink="/projects/1">Pages</a>-->
          <!--        </mat-list-item>-->
        </mat-list>
      </nav>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- CONTENT -->
      <header>
        <nav>
          <div class="menu-left" fxHide.xs>
            <button mat-button class="logo" routerLink="/manage/dashboard" routerLinkActive="mat-accent">
              Simple Landing
            </button>
            <button mat-button routerLink="/manage/projects" routerLinkActive="mat-accent">
              Pages
            </button>
            <button mat-button routerLink="/manage/templates" routerLinkActive="mat-accent">
              Templates
            </button>
          </div>
          <div class="menu-left" fxShow.xs fxHide.gt-xs>
            <button mat-button (click)="sidenav.toggle()">
              <mat-icon class="secondary-text mat-icon material-icons mat-icon-no-color" role="img" aria-hidden="true">menu</mat-icon>
            </button>
          </div>

          <div class="menu-right">

            <mat-menu #appMenu="matMenu">
              <a mat-menu-item *ngIf="user" routerLink="/manage/settings">Profile</a>
              <button mat-menu-item *ngIf="user" (click)="logout()">Logout</button>
              <a mat-menu-item *ngIf="!user" routerLink="/login">Login</a>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="appMenu">
              {{user ? (user.displayName || user.username) : 'Not connected'}}
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>

          <div class="menu-center" fxShow.xs fxHide.gt-xs>
            <button mat-button routerLink="/manage/dashboard" routerLinkActive="mat-accent">
              Simple Landing
            </button>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <div class="page-layout">
          <router-outlet></router-outlet>
        </div>
      </div>
      <footer>
        <div class="container">
          this is footer
        </div>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
