<link *ngFor="let url of stylesUrl" rel="stylesheet" [href]="url">
<div [innerHTML]="compiledStyles"></div>

<mat-sidenav-container [hasBackdrop]="false">
  <mat-sidenav
    [opened]="openSidenav"
    [disableClose]="true"
    [fixedInViewport]="true">

    <!-- Available new elements -->
    <div class="scss-editor">
      <div class="head">
        <h3>Sass Editor</h3>
        <button class="sidenav-close" mat-button (click)="openSidenav=false">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div class="content">
        <pre *ngIf="scssError">{{scssError}}</pre>
        <code-editor [(code)]="editorModel" (codeChange)="onModelChange()"></code-editor>
      </div>
      <!--      <textarea [(ngModel)]="textareaModel" (ngModelChange)="onModelChange()"></textarea>-->
    </div>
  </mat-sidenav>
  <mat-sidenav-content>

    <button mat-raised-button class="sidenav-open" (click)="openSidenav=true">
      <mat-icon>brush</mat-icon>
    </button>

    <div [id]="editorHtmlId">
      <div [innerHTML]="layers?.contentHtml" [style]="editableStyles.main"></div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
