<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
      integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<div class="page">
  <div class="section">
    <div class="jumbotron">
      <div class="container">
        <div id="id-7625412" class="block"><h1>An amazing page builder</h1>
          <p>A step-by-step quick and intuitive pages editor</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div id="id-5741991" class="block"><h2 class="title">Titre de la section</h2>
        <div class="subtitle"><i>Section subtitle</i></div>
      </div>
    </div>
    <div class="container">
      <div id="id-248658" class="block"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?</p>
      </div>
    </div>
    <div class="container">
      <div id="id-9981912" class="block">
        <div class="row">
          <div class="col-md-6">
            <img src="http://localhost:3000/public/img/image-placeholder.png"/>
          </div>
          <div class="col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="id-7667177" class="block"><p><i>empty</i></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="id-1" class="block">
            <div class="tpl-1">
              <div>Custom in database : renderMode=full</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="id-7667177" class="block"><p><i>empty</i></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="id-1" class="block">
                <div class="tpl-1">
                  <div>Custom in database : renderMode=full</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div id="id-5741991" class="block"><h2 class="title">Titre de la section</h2>
        <div class="subtitle"><i>Section subtitle</i></div>
      </div>
    </div>
    <div class="container">
      <div id="id-248658" class="block"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?</p>
      </div>
    </div>
    <div class="container">
      <div id="id-9981912" class="block">
        <div class="row">
          <div class="col-md-6">
            <img src="http://localhost:3000/public/img/image-placeholder.png"/>
          </div>
          <div class="col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="id-7667177" class="block"><p><i>empty</i></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="id-1" class="block">
            <div class="tpl-1">
              <div>Custom in database : renderMode=full</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="id-7667177" class="block"><p><i>empty</i></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="id-1" class="block">
                <div class="tpl-1">
                  <div>Custom in database : renderMode=full</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div id="id-5741991" class="block"><h2 class="title">Titre de la section</h2>
        <div class="subtitle"><i>Section subtitle</i></div>
      </div>
    </div>
    <div class="container">
      <div id="id-248658" class="block"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?</p>
      </div>
    </div>
    <div class="container">
      <div id="id-9981912" class="block">
        <div class="row">
          <div class="col-md-6">
            <img src="http://localhost:3000/public/img/image-placeholder.png"/>
          </div>
          <div class="col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="id-7667177" class="block"><p><i>empty</i></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="id-1" class="block">
            <div class="tpl-1">
              <div>Custom in database : renderMode=full</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="id-7667177" class="block"><p><i>empty</i></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="id-1" class="block">
                <div class="tpl-1">
                  <div>Custom in database : renderMode=full</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div id="id-5741991" class="block"><h2 class="title">Titre de la section</h2>
        <div class="subtitle"><i>Section subtitle</i></div>
      </div>
    </div>
    <div class="container">
      <div id="id-248658" class="block"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?</p>
      </div>
    </div>
    <div class="container">
      <div id="id-9981912" class="block">
        <div class="row">
          <div class="col-md-6">
            <img src="http://localhost:3000/public/img/image-placeholder.png"/>
          </div>
          <div class="col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="id-7667177" class="block"><p><i>empty</i></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="id-1" class="block">
            <div class="tpl-1">
              <div>Custom in database : renderMode=full</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="id-7667177" class="block"><p><i>empty</i></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="id-1" class="block">
                <div class="tpl-1">
                  <div>Custom in database : renderMode=full</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <div id="id-5741991" class="block"><h2 class="title">Titre de la section</h2>
        <div class="subtitle"><i>Section subtitle</i></div>
      </div>
    </div>
    <div class="container">
      <div id="id-248658" class="block"><p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae
        vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
        consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut
        labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam
        corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit
        qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas
        nulla pariatur?</p>
      </div>
    </div>
    <div class="container">
      <div id="id-9981912" class="block">
        <div class="row">
          <div class="col-md-6">
            <img src="http://localhost:3000/public/img/image-placeholder.png"/>
          </div>
          <div class="col-md-6">
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
              rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
              consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
              dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
              incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
              exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
              vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui
              dolorem eum fugiat quo voluptas nulla pariatur?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="id-7667177" class="block"><p><i>empty</i></p>
          </div>
        </div>
        <div class="col-sm-8">
          <div id="id-1" class="block">
            <div class="tpl-1">
              <div>Custom in database : renderMode=full</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div id="id-7667177" class="block"><p><i>empty</i></p>
              </div>
            </div>
            <div class="col-sm-6">
              <div id="id-1" class="block">
                <div class="tpl-1">
                  <div>Custom in database : renderMode=full</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
