::ng-deep {
  img {
    max-width: 100%;
  }

  .jumbotron {
    background: transparent;
    margin-bottom: 0;
  }

  /* WIREFRAME */

  .bg-grid {
    display: none;
  }

  .render-mode-wireframe .bg-grid {
    display: block;
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .bg-grid .container {
    height: 100%;
  }

  .bg-grid .container .content {
    height: 100%;
    border-right: 1px dashed black;
    border-left: 1px dashed black;
  }

  .section {
    text-align: center;
    padding: 20px 0;
  }

  .section:nth-child(odd) {
    background: rgba(50, 50, 50, .1);
  }

  .section:nth-child(even) {
    background: rgba(200, 200, 200, .1);
  }

  .render-mode-wireframe .block {
    border: 1px solid #CCC;
    padding: 20px;
  }

  .render-mode-wireframe .block-icon {
    display: inline-block;
    margin: auto;
    padding: 20px 25px;
    border: 1px solid #666;
    border-radius: 5px;
  }

}
