.workflow-container {
  text-align: center;
  .workflow {
    display: inline-block;
    .environment {
      display: block;
      padding: 25px 30px;
      border: 1px solid black;
    }
    .arrow {
      height: 50px;
      border-left: 1px solid black;
      width: 0px;
      margin: auto;
    }
  }
}
