@import '../../scss/editors-mixins';

.sidenav-toggle {
  @include fixed-left-sidenav-toggle;
  transition: left .5s;
  z-index: 2 !important;

  &.active {
    left: -50px;
  }
}

.dnd-templates {
  //z-index: 20;
  padding: 10px 10px;
  background: #FFF;

  .category {
    padding-bottom: 20px;
    margin-bottom: 15px;

    .title {
      margin-bottom: 5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #EEE;
    }
  }

  .dnd-templates-item {
    display: inline-block;
    padding: 5px 12px;
    margin: 0 5px;
    border: 1px solid #CCC;
    background: #FFF;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
  }
}
