<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="wireframe-editor">

  <!-- Background grid -->
  <div class="bg-grid">
    <div class="container">
      <div class="content">&nbsp;</div>
    </div>
  </div>

  <!-- header -->
  <header>
    <!-- Available new elements -->
    <div class="store">

      <ng-container *ngTemplateOutlet="storeItems; context:{ $implicit: store }"></ng-container>

    </div>

    <!-- header actions -->
    <div style="position: fixed;top: 7px; right: 20px;z-index: 10">
      <button class="btn btn-success pull-right" (click)="save()">Save</button>
      <button class="btn btn-default pull-right" (click)="editForward()" style="margin: 0 5px;">
        <i class="glyphicon glyphicon-share-alt small"></i>
      </button>
      <button class="btn btn-default pull-right" (click)="editBack()" style="transform: scaleX(-1);">
        <i class="glyphicon glyphicon-share-alt small"></i>
      </button>
      <button class="btn btn-default pull-right" (click)="triggerProgrammaticReordering()" style="margin: 0 5px;">
        <i class="glyphicon glyphicon-console small"></i>
      </button>
    </div>
  </header>


  <!-- Actual page tree -->
  <div [dndDropzone]="['section']"
       (dndDrop)="onDrop($event, nestableList)">

    <ng-container *ngTemplateOutlet="recursiveList; context:{ parentType: 'page', list: nestableList }"></ng-container>

  </div>

  <!-- page bottom: add section - later (maybe put this action inside section) -->

</div>


<ng-template #storeItems let-store>
  <div class="store-item"
       *ngFor="let storeItem of store"
       [dndDraggable]="storeItem"
       [dndType]="storeItem.type"
       dndEffectAllowed="copy"
       [dndDisableIf]="storeItem.disable"
       (dndStart)="onDragStart($event)"
       (dndCopied)="onDragged(storeItem, store, 'copy')"
       (dndLinked)="onDragged(storeItem, store, 'link')"
       (dndMoved)="onDragged(storeItem, store, 'move')"
       (dndCanceled)="onDragged(storeItem, store, 'none')"
       (dndEnd)="onDragEnd($event)">
    {{storeItem.content}}
  </div>
</ng-template>

<ng-template #recursiveList
             let-parentType="parentType"
             let-list="list">

  <mat-card dndPlaceholderRef
            class="dndPlaceholder"
            [ngClass]="getCommonChildCssClasses(parentType)"
  >
    <!--    Drop things here-->
  </mat-card>

  <div *ngFor="let item of list"
       [dndDraggable]="item"
       [dndType]="item.type"
       dndEffectAllowed="move"
       [dndDisableIf]="item.disable"
       (dndStart)="onDragStart($event)"
       (dndCopied)="onDragged(item, list, 'copy')"
       (dndLinked)="onDragged(item, list, 'link')"
       (dndMoved)="onDragged(item, list, 'move')"
       (dndCanceled)="onDragged(item, list, 'none')"
       (dndEnd)="onDragEnd($event)"
       [ngClass]="getElementCssClasses(item, parentType)">

    <div *ngIf="item.type !== 'block' && item.type !== 'column'"
         class="drag-grip"
         dndHandle>
      <span class="glyphicon glyphicon-move"></span>
    </div>

    <div *ngIf="item.type === 'columns'"
         (click)="shuttleColumnsWidth(item)"
         class="element-settings">
      <span class="glyphicon glyphicon-edit"></span>
    </div>

    <div *ngIf="item.type === 'block'"
         class="block-area"
         [title]="item.originalElement?.settings?.blockType || 'default'"
          (click)="toggleContainer(item.originalElement)">
      <app-block-thumbnail [element]="item.originalElement"></app-block-thumbnail>
    </div>

    <div *ngIf="item.customDragImage"
         dndDragImageRef>MY_CUSTOM_DRAG_IMAGE
    </div>

    <div *ngIf="item.children && item.type !== 'block'"
         class="nested-children-container"
         [class.row]="item.type === 'columns'"
         [dndDropzone]="getAcceptableChildrenTypes(item)"
         (dndDrop)="onDrop($event, item.children)">

      <ng-container
        *ngTemplateOutlet="recursiveList; context:{ parentType: item.type, list: item.children }"></ng-container>

      <div *ngIf="item.children.length === 0">Drop zone</div>

    </div>

  </div>

</ng-template>

