<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div class="wireframe-editor">

  <!-- header -->
  <header style="position: fixed;z-index: 10">

    <!-- header actions -->
    <div style="position: fixed;top: 7px; right: 20px;">
      <button class="btn btn-success pull-right" (click)="save()" [disabled]="pendingSave">Save</button>
      <button class="btn btn-default pull-right" (click)="editForward()" [disabled]="pendingSave || !canGoNext" style="margin: 0 5px;">
        <i class="glyphicon glyphicon-share-alt small"></i>
      </button>
      <button class="btn btn-default pull-right" (click)="editBack()" [disabled]="pendingSave || !canGoPrev" style="transform: scaleX(-1);">
        <i class="glyphicon glyphicon-share-alt small"></i>
      </button>
<!--      <button class="btn btn-default pull-right" (click)="triggerProgrammaticAction()">-->
<!--        <i class="glyphicon glyphicon-console small"></i>-->
<!--      </button>-->
      <button class="btn btn-default pull-right" [matMenuTriggerFor]="appMenu" style="margin: 0 5px;">
        <i class="glyphicon glyphicon-wrench small"></i>
      </button>
      <mat-menu #appMenu="matMenu">
        <button [routerLink]="'/editors/wireframe'" mat-menu-item>Structure</button>
        <button [routerLink]="'/editors/fields'" mat-menu-item>Textes</button>
        <button mat-menu-item>Styles</button>
        <button mat-menu-item>Aperçu</button>
      </mat-menu>
    </div>

    <button class="btn btn-default sidenav-toggle" [class.active]="showTemplates" (click)="showTemplates = !showTemplates">
      <i class="glyphicon glyphicon-th small"></i>
    </button>
  </header>

  <mat-sidenav-container [hasBackdrop]="false" (backdropClick)="showTemplates=false">
    <mat-sidenav [opened]="showTemplates" (keydown.escape)="showTemplates=false">
      <!-- Available new elements -->
      <div class="dnd-templates">

        <ng-container *ngTemplateOutlet="storeItems; context:{ $implicit: itemTemplates }"></ng-container>

      </div>
    </mat-sidenav>
    <mat-sidenav-content (click)="showTemplates=false">

      <!-- Background grid -->
      <div class="bg-grid">
        <div class="container">
          <div class="content">&nbsp;</div>
        </div>
      </div>

      <!-- Actual page tree -->
      <div [dndDropzone]="['section']"
           (dndDrop)="onDrop($event, pageTree.children)">

        <ng-container *ngTemplateOutlet="recursiveList; context:{ parentType: 'page', list: pageTree?.children }"></ng-container>

      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>





  <!-- page bottom: add section - later (maybe put this action inside section) -->

</div>


<ng-template #storeItems let-store>
  <div class="dnd-templates-item"
       *ngFor="let storeItem of store"
       [dndDraggable]="storeItem"
       [dndType]="storeItem.type"
       dndEffectAllowed="copy"
       [dndDisableIf]="storeItem.disable"
       (dndStart)="onDragStart($event)"
       (dndCopied)="onDragged(storeItem, store, 'copy')"
       (dndLinked)="onDragged(storeItem, store, 'link')"
       (dndMoved)="onDragged(storeItem, store, 'move')"
       (dndCanceled)="onDragged(storeItem, store, 'none')"
       (dndEnd)="onDragEnd($event)">
    {{storeItem.content}}
  </div>
</ng-template>

<ng-template #recursiveList
             let-parentType="parentType"
             let-list="list">

  <mat-card dndPlaceholderRef
            class="dndPlaceholder"
            [ngClass]="getCommonChildCssClasses(parentType)"
  >
    <!--    Drop things here-->
  </mat-card>

  <div *ngFor="let item of list"
       [dndDraggable]="item"
       [dndType]="item.type"
       dndEffectAllowed="move"
       [dndDisableIf]="item.disable"
       (dndStart)="onDragStart($event, item)"
       (dndCopied)="onDragged(item, list, 'copy')"
       (dndLinked)="onDragged(item, list, 'link')"
       (dndMoved)="onDragged(item, list, 'move')"
       (dndCanceled)="onDragged(item, list, 'none')"
       (dndEnd)="onDragEnd($event, item)"
       [ngClass]="getElementCssClasses(item, parentType)">

    <div *ngIf="item.type !== 'block' && item.type !== 'column'"
         class="drag-grip"
         dndHandle>
      <span class="glyphicon glyphicon-move"></span>
    </div>

    <div *ngIf="item.type === 'columns'"
         (click)="toggleColumnsWidth(item)"
         class="element-settings">
      <span class="glyphicon glyphicon-edit"></span>
    </div>

    <div *ngIf="item.type === 'block'"
         class="block-area"
         [title]="item.metaElement.data.settings.blockType || 'default'"
         (click)="toggleContainer(item.metaElement)">
      <app-block-thumbnail [element]="item.metaElement"></app-block-thumbnail>
    </div>

    <div *ngIf="item.customDragImage"
         dndDragImageRef>MY_CUSTOM_DRAG_IMAGE
    </div>

    <div *ngIf="item.children && item.type !== 'block'"
         class="nested-children-container"
         [class.row]="item.type === 'columns'"
         [dndDropzone]="getAcceptableChildrenTypes(item)"
         (dndDrop)="onDrop($event, item.children)">

      <ng-container
        *ngTemplateOutlet="recursiveList; context:{ parentType: item.type, list: item.children }"></ng-container>

      <div *ngIf="item.children.length === 0">Drop zone</div>

    </div>

  </div>

</ng-template>

