$queueingWidth: 75px;

.environment-diagram {
  text-align: center;
  max-width: 100%;
  overflow-y: scroll;
}
.diagram {
  white-space: nowrap;
  display: inline-block;
  padding-right: $queueingWidth + 20px;
  position: relative;

  .queueing {
    width: $queueingWidth;
    position: absolute;
    top: 120px;
    right: 0;
  }
}

.service, .service-compute, .service-database, .api-gate, .queues, .data-processing, .data-lake {
  display: block;
  padding: 25px 30px;
  border: 1px solid black;
}

.domains {
  padding: 10px 0 20px;
  position: relative;

  &::before {
    display: block;
    content: " ";
    position: absolute;
    border-right: 1px solid black;
    top: 0;
    left: 50%;
    bottom: 0;
    width: 0;
  }

  span {
    background-color: white;
    position: relative;
    font-size: .8em;
  }
}

.api-gate {
  width: 80px;
  margin: auto;
  padding: 10px;
  font-size: .8em;
}

.services-container {
  white-space: nowrap;
  text-align: center;

  .service {
    position: relative;
    padding-top: 0;
    display: inline-block;
    border: none;

    &:not(:last-child) {
      &::before {
        display: block;
        content: " ";
        position: absolute;
        border-top: 1px solid black;
        left: 50%;
        top: 0;
        width: 147px;
      }
      &::after {
        display: block;
        content: " ";
        position: absolute;
        border-right: 1px dashed black;
        top: 30px;
        right: 0;
        bottom: 10px;
        width: 0;
      }
    }

    .path {
      position: absolute;
      top: 15px;
      right: 0;
      left: 0;
      text-align: center;

      span {
        background: white;
        padding: 2px 5px;
      }
    }
  }
}

.arrow {
  height: 50px;
  border-left: 1px solid black;
  width: 0px;
  margin: auto;
}

.queues {
  border: none;
  border-left: 3px solid black;
  min-height: 200px;

  .queue {
    padding: 10px 15px;
    position: relative;
    text-align: left;
    font-size: .8em;
    &::before {
      display: block;
      content: " ";
      position: absolute;
      border-top: 1px dashed black;
      width: 30px;
      left: -30px;
      top: 18px;
    }
  }
}

.data-processing {
  margin-top: 50px;
  border: none;
  border-top: 3px solid black;

  .data-lakes {
    word-spacing: 10px;
    text-align: left;

    .data-lake {
      display: inline-block;
      margin-right: 10px;
      position: relative;

      &::before {
        display: block;
        content: " ";
        position: absolute;
        border-right: 1px dashed black;
        height: 30px;
        left: 50%;
        top: -30px;
      }
    }
  }
}
